* {
  box-sizing: border-box;
}

:root {
  --bg-btn-color: #18d26e;
  --nav-color: #FFFFFF;
  --var-width: 100%;
  --margin-bottom: 150px;
}

button{
  background-color: #46AA44;
}

@font-face{
  font-family: "Roboto";
  font-weight: 400;
  src: url('./fonts/outfit-regular-webfont.woff') format("woff");
  /* src: url('./fonts/roboto-regular-webfont.woff') format("woff"); */
}

body {
  margin: auto;
  font-family: 'Roboto';
}

.top-navbar {
  background-color: var(--bg-btn-color);
  height: 50px;
}

.top-navbar ul {
  text-align: right;
  padding-top: 15px;
}

.top-navbar ul li {
  margin-right: 20px;
}

#bottom-navbar-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: var(--nav-color);
}

.bottom-navbar{
  position: relative;
  z-index: 1;
}
.bottom-navbar > ul {
  margin-top: 42px;
}

.bottom-navbar > ul li {
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

nav li {
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

nav li b {
  color:  white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}


nav li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

nav li a:hover {
  /* color: rgb(63, 214, 63); */
  color: #333;
  text-decoration: underline;
}

nav li ul{
  width:300px;
}

.dropdown-menu {
  display: none ;
    position: absolute ;
    background-color: white;
    text-align: center;
    line-height: 30px;
    padding: 300px;
    
}

.dropdown:hover .dropdown-menu {
  display: block;
  padding: 30px;  
}

.brand{
  width: 150px;
  padding-left: 1%;
}

.brand img {
  height: 100%;
  object-fit: cover;

}

@media (max-width: 600px) {

  .top-navbar,
  .bottom-navbar {
    display: none;
  }

  header {
    padding: 10px;
    background-color: #333;
  }

  .collapsed-navbar {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  .collapsed-navbar:hover {
    background-color: #555;
  }
}

.home-strip {
  width: 100%;
  height: 20px;
  background-color: #0ACF83;
}

.home-strip a {
  text-decoration: none;
  border: 0px;
  color: #fff;
  margin-left: 2%;
}

#content-block-1::before {
  content: ' ';
  display: block;
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('./assets/6.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#content-block-1 {
  position: relative;
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 40);
  /* background-image: url("./assets/6.jpg");
  background-color: rgb(73, 72, 72); */
}

#content-block-1 p {
  color: var(--nav-color);
  font-size: 4em;
  position: relative;
  margin: 0px;
  padding-top: 100px;
}

#content-block-1>button {
  color: white;
  position: absolute;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-top: 50px;
  background-color: var(--bg-btn-color);
  font-weight: bold;
  left: 45%;
}

#strip-below-1{
  width: 100%;
  height: 40px;
  background-color: #0ACF83;
  position: relative;
}
#content-block-2 {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
}

.bg-image::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/landscape\ behind.png");
  background-repeat: no-repeat;
  background-size: 100% 850px;
  opacity: 0.5;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 0px 10px black;
}

.content {
  padding-top: 102px;
}

#p-container {
  position: absolute;
  width: 40%;
  top: 15%;
  left: 36%;
  
}

/* css for slider functionality */

#slider-section {
  width: 100%;
  height: 700px;
  text-align: center;
}

/* this is for heading color */
#slider-section h1{
  color: #37BF6D;
  text-align: center;
}

/* changing color of all h1  */
h1{
  color: #37BF6D;
}

/* below is slider css */

.container {
  position: relative;
  width: 900px;
  height: 500px;
  left: 22%;

  .img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: 900px 100%;
  }

  .background-img {
    background-image: url('./assets/after101.png');
  }

  .foreground-img {
    position: relative;
    background-image: url('./assets/beforepic.png');
    width: 50%;
  }
}

#content-block-2-button{
  list-style-type: none;
  border-radius: 50px;
  text-decoration-style: none;
  border-style: none;
  background-color: var(--bg-btn-color);
  width: 190px;
  height: 50px;
  color: white;
}


#content-block-3 {
  text-align: center;
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #badcb5;
}

#content-block-3>h3 {
  text-align: center;
  padding-top: 20px;
  margin: 0px;
  color: #3BB11E;
  font-size: x-large;
}

.item h3{
  color: #3BB11E;
}
.grid-layout {
  position: absolute;
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 230px 230px;
  grid-gap: 20px 20px;
  justify-items: center;
  height: 485px;
  top: 13%;
  left: 25%;
}

.item {
  padding: 10px;
  background-color: white;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px grey;
  transition: 0.5s;
}

.item:hover {
  box-shadow: 0 0 50px rgb(60, 60, 60);
  width: 203px;
  height: 203px;
}

.item img {
  height: 60%;
  width: 60%;
  object-fit: cover;
}

/* below is the css for info section */
#info-section {
  display: flex; 
  align-content: center;
  justify-content: center;
  padding: 5px;
}

#info-section div {
  display: inline-block;
  box-shadow: 0 0px 5px 5px rgb(201, 201, 201);
  border-radius: 20px;
  /* background-color: rgb(235, 241, 240); */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 25px;
  width: 33.3%;
  padding: 30px;
}

.imgMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  color: black;

}

/* following code is for news section */
#news-section-heading{
  text-align: center;
}
#news-section {
  /* width: 100%;
  height: 600px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 55px;
  
}

.news-blog {
  position: relative;
  width: 70%;
  height: 600px;
}

.news-blog #div-1 {
  position: absolute;
  display: inline-block;
  width: 45%;
  height: 80%;
  left: 0%;
  margin-left: 3%;
  background-color: #d8ffd2;
}

.news-blog #div-2 {
  position: absolute;
  display: inline-block;
  width: 45%;
  height: 80%;
  left: 49%;
  margin-left: 3%;
  background-color: #d8ffd2;
}

#div-1 div{
  padding: 15px;
}

#div-2 div{
  padding: 15px;
}
.news-blog button {
  position: absolute;
  list-style-type: none;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  top: 85%;
  margin-left: 3%;
  cursor: pointer;
  color: #fff;
  border: none;
}

.news-blog div img {
  width: 100%;
  height: 50%;
}

.news-releases {
  position: relative;
  width: 30%;
  height: 600px;
  margin-right: 20px;
}


.news-releases #div-3 {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 0%;
  background-color: #d8ffd2;
  padding: 30px;
}

.news-releases #div-4 {
  position: absolute;
  width: 100%;
  height: 35%;
  top: 45%;
  background-color:#d8ffd2;
  padding: 30px;
}

.news-releases-button{
  position: absolute;
  list-style-type: none;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  top: 85%;
  cursor: pointer;
  border: none;
  color: #fff;
}

.news-releases div h3 {
  margin: 0%;
}

.aboutus {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.column1{
  flex: 1;
  padding: 10px;
  /* background-color: whitesmoke */
}

.column1 p button{
  list-style: none;
  border: none;
  color: #fff;
  height: 50px;
  width: 100px;
}
.column1 p button a{
  list-style-type: none;
  text-decoration: none;
}
.gap {
  width: 10px;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  /* height: 300px; */
}

.content-2 {
  height: 150px;
  font-size: 18px;
}

.column {
  flex: 1;
  padding: 40px;
  background-color: whitesmoke;
}

.btn-rounded {
  border-radius: 20px;
  padding: 10px 20px;
  /* background-color: #4285f4; */
  background-color: rgb(52, 202, 52);
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-rounded:hover {
  background-color: #3367d6;
}

h1, h2, p, a {
  font-family: 'Roboto', sans-serif;
}

/* css for footer */
footer {
  /* background-color: #f8f8f8; */
  padding: 30px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  width: 20%;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
